@{
    ViewData["Title"] = "Home Page";
}

        <h1>Latest items</h1>

<br/>

 <div class="row">
        <div class="col-md-6 col-lg-4 item">
            
                <div class="image">
                    <img src="https://thumbs.dreamstime.com/z/ekspresowy-kuriera-sda-22481900.jpg" alt="">
                </div>
                <hr />
                
                <div class="item-details">
                    <h5>Podkaszarka</h5>
                    
                    <div class="shorDescription">d asd asd as das das da sd asd asd das das das da sd asd asda sd
                        asdasdasd asd as das das das das d
                         das dsad asd asd asd 
                    </div>
                    <div><strong> Price: </strong> 130</div>
                    <div><strong>Seller: </strong><a>Profil Detail</a></div>
                </div>
            
        </div>
         <div class="col-md-6 col-lg-4 item">
            
                <div class="image">
                <img src="https://st3.depositphotos.com/26374354/32286/v/1600/depositphotos_322862778-stock-illustration-initials-vb-logo-abstract-vector.jpg" alt="">
                </div>
                <hr />
                
                <div class="item-details">
                    <h5>Podkaszarka</h5>
                    
                    <div class="shorDescription">d asd asd as das das da sd asd asd das das das da sd asd asda sd
                        asdasdasd asd as das das das das d
                         das dsad asd asd asd 
                    </div>
                    <div class="price">Price: 130</div>
                </div>

            
        </div>
        

        
      
        
</div>
